//@import "compass/css3";

.cubeWrapper {

  margin-top 300px
  perspective: 1000px;
}

.cube
  font-size 4em
  width 2em
  margin 1.5em auto
  transform-style preserve-3d
  -webkit-transform-style preserve-3d


.side
  position absolute
  width: 2em;
  height: 2em;
  background: rgba(lightblue, .6);
  border: 1px solid rgba(0,0,0,.5);
  color: white;
  text-align: center;
  line-height: 2em;
  .fa
    margin-top 20px
